<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><div align="center">This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</div>

---

## Exercise 5.A

Write a function `split_comma(s)` which, given a string
`s` (containing comma-separated items) returns a
*Python list* of the items.

In [1]:
# insert code here and evaluate cell

If your solution is correct, evaluating the following cell should produce `['a', 'b', 'c']` as output:

In [4]:
split_comma("a,b,c")

['a', 'b', 'c']

-----

## Exercise 5.B

Modify `split_comma` to remove whitespace
around the returned items, so that
`split_comma("a, b, c")` and `split_comma("a,b,c")`
return the same result `[’a’, ’b’, ’c’]`.

In [3]:
# insert your code here and evaluate cell

If your solution is correct, evaluating the following cell should result in boolean `True`:

In [6]:
split_comma("a,b,c") == split_comma("a, b, c")

True

-----

## Exercise 5.C

Write a function `unquotes(s)` which, given
a string `s` returns a copy of `s` with: 

1. All leading and trailing whitespace removed, and 
2. Initial and final double quote “`"`” characters removed (if any).

In [4]:
# insert your code here and evaluate cell

If your solution is correct, evaluating the following cell results in `'abc'`:

In [9]:
unquote(' "abc"')

'abc'

-----

## Exercise 5.D

Write a function `load_data(filename)` that reads a file
containing one integer number per line, and return a list of the
integer values.

Recall that functions `int()`, `float()`, `str()` are used to convert an object to integer, floating-point number, or string (respectively).

In [6]:
# insert your code here and evaluate cell

If your solution is correct, evaluating the following cell should produce `[299850, 299740, 299900, 300070, 299930]` as output

In [2]:
load_data('values.txt')

[299850, 299740, 299900, 300070, 299930]

-----

## Exercise 5.E

Write a function `fgrep(s, p)` which returns a list of all lines in file `p` which contain string `s`.

In [14]:
# insert your code here

If your solution is correct, evaluating the following cell should give result `['300070', '299930']`

In [12]:
fgrep('3', 'values.txt')

['300070', '299930']

-----

## Exercise 5.F

Write a function `read_csv(p)` which
reads a CSV (Comma-sSparated Values) file and
returns a list of all rows in it. A row will be
represented as a Python list of (string) items.

In [15]:
# insert your code here

If your solution is correct, evaluting the following cell should return a list of lists of strings (5 strings per row).

In [ ]:
read_csv('data.csv')